<div class="subscription-form">

<form [formGroup]="subscriptionForm" (ngSubmit)="addSubscription()">
        <h2 class="text-center stroke">Create Subscription</h2> 
        
        <div class="form-group">
            <label for="subscriptionname"><b>Name</b></label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required="required">
        </div>
        <div class="form-group">
            <label for="date"><b>Expiry date</b></label>
            <input type="date" class="form-control" formControlName="expiryDate" required>
        </div>
        <div class="form-group">
            <label for="customerId"><b>CustomerId</b></label>
            <input disabled type="number" class="form-control" formControlName="id" required="required">
        </div>
 <div class="form-group">
            
            <button type="submit" [disabled]="!subscriptionForm.valid" class="btn btn-primary btn-block">Create</button>
        </div>
              
    </form>
    
   
</div>